extends layout

block content
  section.row
    h2.page-header #{project.name}
      | &nbsp
      small #{project.date}
    div.col-md-4.col-sm-4
      each image in project.images
        img(src=image).img-responsive.center-block
        span &nbsp
    div.col-md-8.col-sm-8
      dl.dl-horizontal
        dt Description du projet
        dd !{locals.marked(project.description)}
      dl.dl-horizontal
        dt Technologies utilisées
        dd: ul
          each technology in project.technologies
            li= technology
      if project.href
        div.text-center
          a(href=project.href).btn.btn-default Lien vers le projet
      else
        div(role="alert").alert.alert-danger
          span Lien vers le projet indisponible.
